<!DOCTYPE html>
<html lang="es">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Sistema de Gestión de Software | Instalaciones de software</title>
    <!-- Meta tag para moviles -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Estilos incluyendo: Bootstrap, Font Icons, Plugins, etc.-->
    <link rel="stylesheet" href="css/vendor.min.css">
    <link id="mainStyles" rel="stylesheet" href="css/styles.min.css">
    <link id="customStyles" rel="stylesheet" href="css/custom.css">
    <!-- Modernizr -->
    <script type="text/javascript" src="js/third-party/modernizr.min.js"></script>
  </head>
  <body>
    <!-- Modal para evaluar instalación -->
    <div class="modal fade" id="modal-instalacion-evaluar" tabindex="-1" role="dialog">
      <form class="modal-dialog" role="document" method="post">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Evaluar instalación de software</h4>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <input type="hidden" name="instalacion-id" id="instalacion-id">
            <!-- Veredictos de la instalación -->
            <div class="form-group">
              <div class="custom-control custom-checkbox">
                <input type="hidden" name="instalacion-desplegado" value="0">
                <input class="custom-control-input" id="instalacion-desplegado" name="instalacion-desplegado" type="checkbox" value="1">
                <label class="custom-control-label" for="instalacion-desplegado">Se desplegó correctamente el software</label>
              </div>
              <div class="custom-control custom-checkbox">
                <input type="hidden" name="instalacion-funciona" value="0">
                <input class="custom-control-input" id="instalacion-funciona" name="instalacion-funciona" type="checkbox" value="1" disabled="">
                <label class="custom-control-label" for="instalacion-funciona">El software desplegado funciona correctamente</label>
              </div>
            </div>
            <!-- Fechas de instalación y verificación en caso de reprogramación -->
            <div class="row">
              <div class="col-sm-6 form-group">
                <label for="instalacion-fecha-nueva">Nueva fecha de instalación:</label>
                <input type="date" name="instalacion-fecha-nueva" id="instalacion-fecha-nueva" class="form-control form-control-sm" placeholder="dd/mm/aaaa" required="">
              </div>
              <div class="col-sm-6 form-group">
                <label for="instalacion-fecha-verificacion">Nueva fecha de verificación:</label>
                <input type="date" name="instalacion-fecha-verificacion" id="instalacion-fecha-verificacion" class="form-control form-control-sm" placeholder="dd/mm/aaaa" required="">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-outline-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-sm btn-primary">Enviar</button>
          </div>
        </div>
      </form>
    </div>
    <!--      -->
    <!-- Menu -->
    <!--      -->
    <div class="offcanvas-container" id="mobile-menu">
      <div class="account-link">
        <div class="user-ava"><img src="img/user.png" alt="Nombre de usuario" title="Nombre de usuario"></div>
        <div class="user-info">
          <h6 class="user-name">Nombre del usuario</h6>
          <span class="text-sm text-white opacity-60">Administrador</span>
        </div>
      </div>
      <nav class="offcanvas-menu">
        <ul class="menu">
          <!-- Inicio -->
          <li><a href="soporte-solicitud.html">Solicitudes de software</a></li>
          <li class="active"><a href="soporte-instalacion.html">Instalaciones de software</a></li>
          <!-- Opciones de usuario -->
          <li class="offcanvas-header">
            <h3 class="offcanvas-title">Opciones de usuario</h3>
          </li>
          <li><a href="admin-perfil.html">Ver perfil</a></li>
          <li><a href="index.html">Cerrar sesión</a></li>
        </ul>
      </nav>
    </div>
    <!--        -->
    <!-- Header -->
    <!--        -->
    <div class="topbar d-none"></div>
    <header class="navbar navbar-sticky bg-dark">
      <!-- Boton toggle del menu y titulo -->
      <div class="site-branding">
        <div class="inner">
          <a class="offcanvas-toggle text-white" href="#mobile-menu" data-toggle="offcanvas"></a>
          <h3 class="site-logo text-white"><span class="d-sm-inline d-none">Sistema de </span>Gestión de Software</h3>
        </div>
      </div>
      <!-- Toolbar -->
      <div class="toolbar"><div class="inner"><div class="tools">
        <div class="account">
          <!-- Icono del usuario -->
          <a href="admin-perfil.html"></a>
          <i class="icon-head"></i> <span class="account-label">Nombre del usuario</span>
          <ul class="toolbar-dropdown">
            <!-- Breve info del usuario -->
            <li class="sub-menu-user">
              <div class="user-ava"><img src="img/user.png" alt="Nombre del usuario" title="Nombre del usuario"></div>
              <div class="user-info">
                <h6 class="user-name">Nombre del usuario</h6>
                <span class="text-xs text-muted">Administrador</span>
              </div>
            </li>
            <!-- Menu del usuario -->
            <li><a href="admin-perfil.html"><i class="icon-cog"></i>Configurar perfil</a></li>
            <li><a href="index.html"><i class="icon-unlock"></i>Cerrar sesi&oacute;n</a></li>
          </ul>
        </div>
      </div></div></div>
    </header>
    <!--           -->
    <!-- Contenido -->
    <!--           -->
    <div class="offcanvas-wrapper">
      <div class="container-fluid">
        <h3>Lista de instalaciones de software</h3>
        <h5>Ciclo 2018-2</h5>
        <!-- Tabla de clientes -->
        <div class="table-responsive">
          <table class="table" id="instalacion-lista">
            <!-- Cabecera -->
            <thead class="thead-light">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Software</th>
                <th scope="col">Estado</th>
                <th scope="col" class="text-right">
                  <button class="btn btn-sm btn-primary"><i class="icon-plus"></i> <span class="d-sm-inline d-none">Agregar</span></button>
                </th>
              </tr>
            </thead>
            <!-- Datos -->
            <tbody id="instalacion-lista-pendientes">
              <tr>
                <th scope="row">4</th>
                <td><strong>Anaconda</strong> 5.3<br>Windows 7</td>
                <td>Sin evaluar</td>
                <td class="text-right">
                  <button class="btn btn-sm btn-info instalacion-evaluar" data-toggle="tooltip" data-original-title="Evaluar"><i class="icon-paper"></i></button>
                </td>
              </tr>
            </tbody>
            <tbody id="instalacion-lista-fallidas">
              <tr>
                <th scope="row">2</th>
                <td><strong>Unreal Engine</strong> 4<br>Windows 7</td>
                <td class="text-warning">No funciona correctamente</td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td><strong>Android Studio</strong><br>Linux Mint</td>
                <td class="text-danger">No se desplegó correctamente</td>
                <td></td>
              </tr>
            </tbody>
            <tbody id="instalacion-lista-exitosas">
              <tr>
                <th scope="row">1</th>
                <td><strong>Oracle SQL Developer</strong><br>Windows 7</td>
                <td class="text-success">Desplegado y funcional</td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- Botones -->
        <div class="text-center">
          <button class="btn btn-sm btn-outline-secondary">Volver</button>
        </div>
      </div>
    </div>
    <!-- Boton para volver arriba -->
    <a class="scroll-to-top-btn" href="#">
      <i class="icon-arrow-up"></i>
    </a>
    <!-- Backdrop -->
    <div class="site-backdrop"></div>
    <!-- JavaScript (jQuery) libraries, plugins and custom scripts-->
    <script type="text/javascript" src="js/third-party/vendor.min.js"></script>
    <script type="text/javascript" src="js/third-party/scripts.min.js"></script>
    <script type="text/javascript" src="js/utilidades.js"></script>
    <script type="text/javascript" src="js/soporte/instalacion.js"></script>
  </body>
</html>
